@use '/src/scss/variables.scss' as vars;
@use '/src/scss/mixins' as mixins;

.createCourseContainerWrapper {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    form {
        display: flex;
        flex-direction: column;
        gap: vars.$main-gap;

        .input {
            width: 100%;
        }

        .createCourseContainer {
            width: 100%;
            @include mixins.generic-cards;
            display: flex;
            flex-direction: column;
            gap: vars.$third-gap;
            padding: 4.5rem;
            box-sizing: border-box;

            label {
                font-size: 14px;
                font-weight: bold;
            }

            .upperPart {
                .mainInfo {
                    @include mixins.input-vertical-stack;

                    .textarea {
                        @include mixins.generic-inputs;

                        width: 100%;
                        height: 152px;
                        min-width: 100%;
                    }
                }
            }

            .lowerPart {
                display: flex;
                justify-content: space-between;

                .left {
                    @include mixins.input-vertical-stack(vars.$third-gap);

                    .duration {
                        @include mixins.input-vertical-stack;

                        &>div {
                            display: flex;
                            align-items: center;
                            gap: vars.$secondary-gap;

                        }
                    }

                    .authors {
                        @include mixins.input-vertical-stack;

                        .authorsInput {
                            @include mixins.input-vertical-stack;
                        }

                        .authorsList {
                            display: flex;
                            flex-direction: column;

                            gap: vars.$secondary-gap;

                            ul {
                                list-style: none;

                                li {
                                    margin: 0.5rem 0;
                                }
                            }

                        }

                    }
                }

                .right {
                    align-self: center;

                    &>div {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: vars.$secondary-gap;
                    }
                }
            }



        }

        .buttonsContainer {
            align-self: self-end;
            display: flex;
            gap: vars.$secondary-gap;

        }

    }

}