@use '/src/scss/variables.scss' as vars;

.courseCard {
    background-color: vars.$main-contrast-color;
    display: flex;
    border-radius: vars.$main-border-radius;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116),
        0 2px 5px rgba(0, 0, 0, 0.116),
        0 -2px 5px rgba(0, 0, 0, 0.116);
    position: relative;

    .left-line {
        position: absolute;
        background-color: vars.$main-text-color;
        width: 7px;
        height: 100%;
        border-radius: 16px 0 0 16px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .course-card-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;

        .title {
            margin-bottom: 10px;
            color: vars.$title-color;
        }
    }

    .left-right-container {
        display: flex;
        gap: 4vw;


        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            text-align: justify;
            justify-content: flex-start;
            flex: 1 1 500px;
        }

        .right-side {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: center;
            gap: 20px;
            margin-right: 2%;

            ul {
                list-style: none;
            }

            &>ul>li:first-child {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .userButtons {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                &>div {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}