@use '../../../../common/variables.scss' as vars;

.courseCard {
    background-color: vars.$main-contrast-color;
    display: flex;
    border-radius: vars.$main-border-radius;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116),
        0 2px 5px rgba(0, 0, 0, 0.116),
        0 -2px 5px rgba(0, 0, 0, 0.116);
    position: relative;
    // border-left: 7px solid vars.$main-text-color;



    .left-line {
        position: absolute;
        background-color: vars.$main-text-color;
        width: 7px;
        height: 100%;
        border-radius: 16px 0 0 16px;
        // margin-right: 30px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .course-card-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;

        .title {
            margin-bottom: 10px;
            color: vars.$title-color;
        }
    }

    .left-right-container {
        display: flex;
        // box-sizing: border-box;
        // column-gap: 100px;
        justify-content: space-between;
        // margin: 30px 30px 30px 0;

        gap: clamp(10%, 5vw, 100vw);


        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            text-align: justify;
            justify-content: flex-start;
            // width: 677px;


        }

        .right-side {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 320px;
            margin-right: 1vw;
            justify-content: center;
            gap: 20px;

            // &>div>p:first-child {
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            // }
        }
    }
}