@use '/src/scss/variables.scss' as vars;

.inputContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .label {
        font-weight: bold;
    }

    .input {
        box-sizing: border-box;
        padding: 12px;
        border: 1px solid vars.$main-lines-color;
        border-radius: vars.$secondary-border-radius;
        font-size: 1rem;
    }

    .input::placeholder {
        color: vars.$main-lines-color;
    }

    .input:focus {
        outline: none;
        border-color: black;
        color: vars.$main-text-color;
    }

    .input-error {
        border: red solid 1px;
    }

    .input-error:focus {
        border: red solid 1px;
    }

    .input-error-message {
        color: red;
        position: absolute;
        top: 100%;
    }

    .hidden {
        opacity: 0;
    }

    .visible {
        opacity: 1;
    }
}