@use '/src/scss/variables.scss' as vars;
@use '/src/scss/mixins' as mixins;

.inputContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &>div {
        display: flex;
        gap: vars.$secondary-gap;
        align-items: center;
    }

    .label {
        font-weight: bold;
    }

    .input {
        @include mixins.generic-inputs;
    }

    .input-error {
        border: red solid 1px;
    }

    .input-error:focus {
        border: red solid 1px;
    }

    .input-error-message {
        color: red;
        position: absolute;
        top: 100%;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: inline-block;
    }
}