.emptyCourseList {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: calc(100vh - 80px - 3rem);
}

.emptyListTitle {
    font-size: 32px;
    margin-bottom: -10px;
}

.emptyListText {
    margin-bottom: 10px;
}

.emptyCourseListButton {
    margin-bottom: 10rem;
}