@use '/src/scss/variables.scss' as vars;
@use '/src/scss/mixins' as mixins;

@include mixins.input-styles("textarea");


// .textareaContainer {
//     margin: 0;
//     padding: 0;
//     display: flex;
//     flex-direction: column;
//     position: relative;

//     &>div {
//         display: flex;
//         gap: vars.$secondary-gap;
//         align-items: center;
//     }

//     .label {
//         font-weight: bold;
//     }

//     .textarea {
//         @include mixins.generic-inputs;
//     }

//     .textarea-error {
//         border: red solid 1px;
//     }

//     .textarea-error:focus {
//         border: red solid 1px;
//     }

//     .textarea-error-message {
//         color: red;
//         position: absolute;
//         top: 100%;
//     }

//     .hidden {
//         display: none;
//     }

//     .visible {
//         display: inline-block;
//     }
// }