.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-left: 37px;
    padding-right: 37px;
    position: fixed;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.150);
    box-sizing: border-box;
}