@use '/src/scss/variables.scss' as vars;

@mixin generic-cards() {
    background-color: vars.$main-contrast-color;
    border: 2px solid rgba(0, 0, 0, 0.080);
    border-radius: vars.$main-border-radius;
}