@use '/src/scss/variables.scss' as vars;

* {
    margin: 0;
    padding: 0;
    color: vars.$main-text-color;
    font-family: "Open Sans", sans-serif;
}

body {
    position: relative;
    background-color: vars.$main-back-ground-color;

    h4 {
        font-size: 20px;
        font-weight: 700;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
}