$main-color: #007298;
$main-contrast-color: white;
$main-text-color: #333E48;
$title-color: black;
$main-border-radius: 8px;
$secondary-border-radius: 4px;
$main-lines-color: #CFCFCF;
$main-back-ground-color: #F7F7F7;
$main-gap: 2rem;
$secondary-gap: 1rem;
$third-gap: 1.5rem;